<div class="grid flex-col">
    <div class="mx-auto mt-[10%]">
        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Credits:</h2>
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
            <li>
                <a href="https://www.flaticon.com/fr/icones-gratuites/cinema" title="cinéma icônes"> Cinema icons created by
                    Freepik,</a>

            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/alphabet" title="alphabet icons"> Alphabet icons created by Freepik,</a>

            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/letter-b" title="letter b icons"> Letter b icons created by MayorIcons,</a>
            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/letter-d" title="letter d icons"> Letter d icons created by riajulislam- Flaticon</a>
            </li>
        </ul>
    </div>
</div>
