<footer class="text-center my-20 bg-cine-red">
    <a href="https://www.flaticon.com/fr/icones-gratuites/cinema" title="cinéma icônes"> Cinema icons created by
        Freepik,</a>
    <a href="https://www.flaticon.com/free-icons/alphabet" title="alphabet icons"> Alphabet icons created by Freepik,</a>
    <a href="https://www.flaticon.com/free-icons/letter-b" title="letter b icons"> Letter b icons created by Mayor
        Icons,</a>
    <a href="https://www.flaticon.com/free-icons/letter-d" title="letter d icons"> Letter d icons created by riajulislam
        - Flaticon</a>
</footer>