<header class="grid bg-red-300 h-[7vh]">
    <div class="grid grid-cols-3 gap-4 my-auto">
        <div class="ml-20 mr-auto"> 
            <h1 (click)="home()" class=" text-center cursor-pointer text-3xl font-extrabold text-white dark:text-white md:text-4xl lg:text-5xl">Cine<span class="underline decoration-red-400 dark:decoration-red-600">Quiz</span></h1>
        </div>
        <div class="col-span-2 ml-auto mr-20 my-auto">
            <div class="grid grid-cols-2 gap-4" *ngIf = "!isLoggedIn()">
                <div class="my-auto">
                    <button (click)="signUpPage()" class="float-right font-roboto bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                        Connexion
                    </button>
                </div>
                <div class="my-auto">
                    <button (click)="signInPage()" class="float-left mr-10 font-roboto bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                        Inscription
                    </button>
                </div>
            </div>
            
            <div class="grid grid-cols-2 gap-4" *ngIf = "isLoggedIn()">
                <div class="float-right flex">
                    <h6 class="my-auto mr-0 ml-auto text-lg font-bold text-white dark:text-white">{{user.pseudo}}</h6>
                </div>
                <div>
                    <button (click)="logout()" class="float-left mr-10 font-roboto  bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
                        Deconnexion
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>