<header class="bg-cine-red h-[7vh]">
    <div class="grid grid-cols-3 gap-4">
        <div class="ml-20 my-auto"> 
            <h1 (click)="home()" class="cursor-pointer capitalize w-min underline-offset- underline decoration-dashed decoration-forrest-blues pl-10 text-5xl text-white font-roboto leading-tight">CineQuiz</h1>
        </div>
        <div class="col-span-2 ml-auto mr-20 my-auto">
            <div class="grid grid-cols-2 gap-4" *ngIf = "!isLoggedIn()">
                <div class="my-auto">
                    <button (click)="signUpPage()" class="float-right font-roboto bg-forrest-blues hover:bg-good-samaritan text-white font-bold py-2 px-4 rounded-full">
                        Connexion
                    </button>
                </div>
                <div class="my-auto">
                    <button (click)="signInPage()" class="float-left mr-10 font-roboto bg-forrest-blues hover:bg-good-samaritan text-white font-bold py-2 px-4 rounded-full">
                        Inscription
                    </button>
                </div>
            </div>
            
            <div class="grid grid-cols-2 gap-4" *ngIf = "isLoggedIn()">
                <div class="float-left flex">
                    <img src="../assets/user.png" class="w-10 h-10 mr-4">
                    <p class="py-2 text-white">{{user.pseudo}}</p>
                </div>
                <div>
                    <button (click)="logout()" class="float-right mr-10 font-roboto  bg-forrest-blues hover:bg-good-samaritan text-white font-bold py-2 px-4 rounded-full">
                        Deconnexion
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>