<div class="container mx-auto px-40">
    <div class="grid bg-waterfall text-white font-roboto my-16 space-y-4 rounded-t-3xl rounded-b-xl w-full mx-auto">
        <div id="nbQuestion" class="bg-jalapeno-red rounded-full py-2 px-4 text-center"> Question {{quest.questionNumber}}/10 </div>
            <div id="question" class="text-2xl text-center">{{quest.question}}</div>
            <div class="flex flex-row mb-6">
                <div class="mb-6 mx-6 w-4/6" id="image"><img [src]="quest.optionalImage" class="mx-auto object-fill"><p class="text-center">{{quest.optionalText}}<p></div>
                <div id="answers" class="bg-waterfall rounded space-y-4 w-2/6 place-items-center ml-4 mr-12 mb-6">
                    <div id="{{quest.choice1}}" class="bg-good-samaritan rounded hover:bg-spray"> <label for="questA"  [ngClass] = "{ disabled : answered === true}"> <img src="../assets/A.png" class="w-6 left pt-4 inline pb-4 ml-5"></label>  <button (click)="onClick(quest.choice1)" class="py-2 px-4 w-3/4 flex-1" [ngClass] = "{ disabled : answered === true}" id="questA">{{quest.choice1}}</button></div>
                    <div id="{{quest.choice2}}" class="bg-good-samaritan rounded hover:bg-spray"> <label for="questB"  [ngClass] = "{ disabled : answered === true}"> <img src="../assets/B.png" class="w-6 left pt-4 inline pb-4 ml-5"> </label> <button (click)="onClick(quest.choice2)" class="py-2 px-4 w-3/4 flex-1" [ngClass] = "{ disabled : answered === true}" id="questB">{{quest.choice2}}</button></div>
                    <div id="{{quest.choice3}}" class="bg-good-samaritan rounded hover:bg-spray"> <label for="questC"  [ngClass] = "{ disabled : answered === true}"> <img src="../assets/C.png" class="w-6 left pt-4 inline pb-4 ml-5"> </label> <button (click)="onClick(quest.choice3)" class="py-2 px-4 w-3/4 flex-1" [ngClass] = "{ disabled : answered === true}" id="questC">{{quest.choice3}}</button></div>
                    <div id="{{quest.choice4}}" class="bg-good-samaritan rounded hover:bg-spray"> <label for="questD"  [ngClass] = "{ disabled : answered === true}"> <img src="../assets/D.png" class="w-6 left pt-4 inline pb-4 ml-5"> </label> <button (click)="onClick(quest.choice4)" class="py-2 px-4 w-3/4 flex-1" [ngClass] = "{ disabled : answered === true}" id="questD">{{quest.choice4}}</button></div>
                </div>
            </div>
    </div>     
</div>
<div class="text-right mr-20 mt-2">
    <button (click)="onNextQuestion()" class="ml-60 font-roboto hover:bg-spray text-spray font-semibold hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded">Question suivante</button>
</div>