<div *ngIf = "!getUser().pseudo">
<button class="text-left font-roboto ml-20 mr-6 my-4 hover:bg-spray text-spray font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"> <a routerLink="login">Connexion</a></button>
<button class="text-left font-roboto hover:bg-spray text-spray font-semibold hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded"> <a routerLink="sign-in">Inscription</a></button>
</div>

<div *ngIf = "getUser().pseudo">
    <div class="flex ml-20 my-6 flow-root">
        <div class="float-left flex"><img src="../assets/user.png" class="w-10 h-10 mr-4"><p class="py-2">{{getUser().pseudo}}</p></div>
        <button class="float-right mr-10 font-roboto hover:bg-spray text-spray font-semibold hover:text-white py-2 px-2 border border-blue-500 hover:border-transparent rounded" (click)="logout()">Deconnexion</button>
    </div>
</div>

<div class="grid place-items-center flex flex-col">
    <div><button class="bg-reef-encounter text-white font-roboto text-2xl hover:text-4xl h-20 px-5 my-16 rounded"><a routerLink="lobby">Créer une partie</a></button></div>
    <div><button class="bg-reef-encounter text-white font-roboto text-2xl hover:text-4xl h-20 px-5 py-5 rounded"> <a routerLink="lobby">Rejoindre une partie</a></button></div>
</div>
