<div class="container mx-auto px-40">
    <div class="grid bg-waterfall text-white font-roboto my-16 space-y-4 rounded-t-3xl rounded-b-xl w-full mx-auto">
        <div class="text-right mr-20 mt-2">
            <button class="ml-60 font-roboto hover:bg-jalapeno-red text-jalapeno-red font-semibold hover:text-white py-2 px-2 
            border border-blue-500 hover:border-transparent rounded mb-4 text-2xl">
                <a routerLink="/"> Rejouer </a>
            </button>
        </div>
    </div>
</div>