<div class="form-card">
    <h2 class="text-3xl my-6 text-waterfall">Inscription</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label for="pseudo" class="text-orange">Nom d'utilisateur</label>
            <input type="text" id="pseudo" formControlName="pseudo" required>
        </div>

        <div class="form-group">
            <label for="email" class="text-orange">Adresse mail</label>
            <input type="email" id="email" formControlName="email" required>
        </div>
        <div class="wrongInput" *ngIf="!isValid('email') && (getField('email')?.dirty)">
            Veuillez entrer une adresse mail valide.
        </div>

        <div class="form-group">
            <label for="password" class="text-orange">Mot de passe</label>
            <input type="password" id="password" formControlName="password" required>
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="text-orange">Confirmez votre mot de passe</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" required  
                [ngClass] = "{ invalid : (getField('confirmPassword')?.value != getField('password')?.value) && getField('confirmPassword')?.dirty }">
        </div>
        <div class="wrongInput" *ngIf="(getField('confirmPassword')?.value != getField('password')?.value) && (getField('confirmPassword')?.dirty)">
            Les mots de passe sont différents.
        </div>

        <div>
            <button type="submit" (click)="onSubmitForm()" class="text-left font-roboto ml-20 mr-6 my-4 hover:bg-spray text-spray font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" [disabled]="registrationForm.invalid"> Inscription </button>
        </div>

    </form>
</div>