<div class="form-card">
    <h2 class="text-3xl my-6 text-waterfall">Inscription</h2>
    <form [formGroup]="registrationForm">
        <div class="form-group">
            <label for="pseudo" class="text-orange">Nom d'utilisateur</label>
            <input type="text" id="pseudo" formControlName="pseudo">
        </div>

        <div class="form-group">
            <label for="email" class="text-orange">Adresse mail</label>
            <input type="text" id="email" formControlName="email">
        </div>

        <div class="form-group">
            <label for="password" class="text-orange">Mot de passe</label>
            <input type="password" id="password" formControlName="password">
        </div>

        <div class="form-group">
            <label for="confirmPassword" class="text-orange">Confirmez votre mot de passe</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
        </div>

        <div>
            <button type="submit" (click)="onSubmitForm()" class="text-left font-roboto ml-20 mr-6 my-4 hover:bg-spray text-spray font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"> Inscription </button>
        </div>

    </form>
</div>